.container-fluid {
  height: 100%;
}

.exercise-container {
  background-color: white;
  border-radius: 25px;
  height: auto;
}

.exercise-div {
  display: flex;
  flex-direction: column;
}
.exercise-div .exercise-ul {
  margin: 0 auto;
}
.exercise-div .exercise-a {
  width: 100%;
}
.exercise-div .exercise-text {
  width: 100%;
}
.exercise-div .exercise-text .exercise-buttons {
  margin-bottom: 0;
}
