<div class='something'>
  <p *ngIf="workout">{{workout.id}}{{workout.name}}</p>
  <h1>
    HI-show-workout
    <a [routerLink]="['/workout']">Back</a>
  </h1>
  <div>
    <form (ngSubmit)='createExercise(exercise)' #exerciseForm="ngForm">
      <!--NAME-->
      <div class="form-group">
        <label for="name">Exercise Name</label>
        <input type="text" class='form-control' id="name" placeholder="Squat,Deadlift,etc" required name="name" #name='ngModel' [(ngModel)]="exercise.name">
        <div [hidden]="name.valid || name.pristine" class='alert alert-danger'>
          Exercise is Required
        </div>
      </div>
      <!-- SET 1  -->
      <div class="form-group">
        <label for="set1">Set 1:Reps</label>
        <input type="text" class='form-control' id="name" placeholder="1-12.." name="name" #set1='ngModel' [(ngModel)]="exercise.set1">
        <div [hidden]="set1.valid || set1.pristine" class='alert alert-danger'>
          Set 1 is required
        </div>
      </div>

      <div class="form-group">
        <label for="weight1">Set 1:Weight</label>
        <input type="text" class='form-control' id="name" placeholder="10-500lbs" name="name" #weight1='ngModel' [(ngModel)]="exercise.weight1">
        <div [hidden]="weight1.valid || weight1.pristine" class='alert alert-danger'>
          Weight for first set is required
        </div>
      </div>
      <!-- SET 1  -->
      <!-- SET2 -->
      <div class="form-group">
        <label for="set1">Set 1:Reps</label>
        <input type="text" class='form-control' id="name" placeholder="1-12.." name="name" #set1='ngModel' [(ngModel)]="exercise.set1">
      </div>

      <div class="form-group">
        <label for="weight1">Set 1:Weight</label>
        <input type="text" class='form-control' id="name" placeholder="10-500lbs" name="name" #weight1='ngModel' [(ngModel)]="exercise.weight1">
      </div>
      <!-- SET 2  -->
      <!-- SET 3 -->


      <button type='submit' class="btn btn-outline-primary btn-lg" [disabled]='!exerciseForm.form.valid' [hidden]='submitted'>
            Generate workout
          </button>
      <div class='alert alert-success' role='alert' [hidden]='!submitted'>
        Your workout was successfully created!<a class='alert-link' routerLink='/workout'>View all workouts</a>
      </div>

    </form>
  </div>
</div>