
<ion-header>

  <ion-navbar color='dark'>
    <ion-title  style="color: #4389fe;" text-center color="dark">Workout Template</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="dark-content">
  <ion-list *ngIf="exerciseTemplates">

    <h3 class='header-exercise center-align' style="color: white;">
      Add Exercises to : {{exerciseTemplates[0].title}}
    </h3>

    <form (ngSubmit)='createExerciseTemplate(exerciseTemplate)' style="color: white;" #exerciseTemplateForm="ngForm" >
      <!--NAME-->
      <ion-item>
        <ion-label for="title">ExerciseTemplate Name</ion-label>
        <ion-input type="text" class='form-control' id="name" style="color:black;" placeholder="Squat,Deadlift,etc"
        required name="title" #title='ngModel' [(ngModel)]="exerciseTemplate.title">
        </ion-input>
        <div [hidden]="title.valid || title.pristine" class='alert alert-danger'>
          Title is Required
        </div>
      </ion-item>
      <!-- SET 1  -->
      <div class="form-group col s3">
        <label for="restTime">Rest Time</label>
        <input type="text" class='form-control' id="name" style="color:black;" placeholder="60s" name="restTime" required #restTime='ngModel' [(ngModel)]="exerciseTemplate.restTime">
        <div [hidden]="restTime.valid || restTime.pristine" class='alert alert-danger'>
          Rest Time is required
        </div>
      </div>

      <div class='col s6'>
        <button ion-button type='submit' class="submit-button center-this" [disabled]='!exerciseTemplateForm.form.valid' [hidden]='submitted'>
          Add Exercise Template
        </button>

        <div class='alert alert-success' role='alert' [hidden]='!submitted' >
          Your exercise was successfully added!
        </div>
      </div>
    </form>

    <ion-item *ngFor='let template of exerciseTemplates[1]' (click)="goToExerciseTemplate(exercises)">
      <ion-avatar item-start>
        <img src="https://cdn3.iconfinder.com/data/icons/forall/1062/gym-512.png">
      </ion-avatar>
      <span class="title">Title: {{template.title}}</span>
      <p>
        Sets: {{template.sets}} <br>
        Rest Time: {{template.restTime}}
      </p>
    </ion-item>
  </ion-list>
</ion-content>

