<!--
  Generated template for the RegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='dark'>
    <ion-title text-center>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="dark-content">
  <div class="background">
    <div *ngIf=!name; else forminfo>
      <form [formGroup]="rForm" (ngSubmit)="createRegistration(rForm.value)">
        <div class="form-container">
          <div class="row columns">
            <h1>My Reactive Form</h1>
            <label>Email
              <input type="text" formControlName="email">
            </label>
            <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Valid email is Required</div>


            <label>password
              <textarea  formControlName="password"></textarea>
            </label>
            <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">Password must be atleast 8 chars.</div>

            <label>password
              <textarea  formControlName="confirmPassword"></textarea>
            </label>
            <div class="alert" *ngIf="! rForm.controls['confirmPassword'].valid && rForm.controls['password'].touched ">Passwords Must Match</div>


            <!--<input type="submit" class="button expanded" value="Submit Form" [disabled]="!(rForm.valid) || !(rForm.password == rForm.passwordMatch)">-->
            <button ion-button type="submit" [disabled]="!rForm.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>

    <ng-template #forminfo>
      <div class="form-container">
        <div class="row columns">
          <h1>{{ name }}</h1>

          <p>{{ description }}</p>
        </div>
      </div>
    </ng-template>
  </div>
</ion-content>
