<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">MEAN Auth App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/']">Home <span></span></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/dashboard']">Dashboard </a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/profile']">Profile </a>
          </li>
          <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/login']">Login </a>
          </li>
          <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
          <li class="nav-item" *ngIf="authService.loggedIn()"><a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
          </li>
        </ul>
      </div>
</nav> -->
<!--Navigation-->
<div class="navbar">

  <nav role="navigation">

    <div class="nav-wrapper">
      <a [routerLink]="['/home']" id="logo-container" class="brand-logo left"> Lift Tracker</a>

      <ul class="right">
        <li *ngIf="!(authService.userSignedIn$ | async)"> <a (click)="openDialog('login')" class='no-drop'>LOGIN</a></li>
        <li *ngIf="!(authService.userSignedIn$ | async)"> <a (click)="openDialog('register')" class='no-drop'>REGISTER</a></li>

        <!-- <li *ngIf="(authService.userSignedIn$ | async)"><a [routerLink]="['/workout']">Workout History</a></li> -->
        <li *ngIf="(authService.userSignedIn$ | async)"><a [routerLink]="['/profile']" class='no-drop'>{{authTokenService.currentUserData.email}}</a></li>
        <li *ngIf="(authService.userSignedIn$ | async)"><a (click)="logOut()" class='no-drop'>Logout</a></li>
      </ul>

      <a class='dropdown-button btn right gray darken-4' data-activates='dropdown1' data-belowOrigin='true'>Workout Options</a>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a [routerLink]="['/workout']" class="dropdown-a">Workout History</a></li>
        <li class="divider"></li>
        <li><a [routerLink]="['/new-workout']" class="dropdown-a">New Workout</a></li>
      </ul>

    </div>

  </nav>

</div>
<!-- <div>
  <button md-raised-button (click)="openDialog()">Open Dialog</button>
  <p>Result from dialog: {{ result }}</p>
</div> -->