<ion-menu persistent="true"  [content]="mycontent" color="dark">
    <ion-content color="dark" class="dark-content">
        <ion-list>
            <ion-item  *ngIf="!isUserLoggedIn()" (click)="goToLogin()" menuClose>
                <ion-icon item-left name="contact"></ion-icon>
                Login
            </ion-item>

            <ion-item *ngIf="isUserLoggedIn()" ion-item (click)="goToWorkoutHistory()" menuClose>
                <ion-icon name="clipboard" item-left></ion-icon>
                Workout History
            </ion-item>

            <ion-item *ngIf="isUserLoggedIn()" ion-item (click)="goToNewWorkout()" menuClose>
              <ion-icon name="create" item-left></ion-icon>
                New Workout
            </ion-item>

            <ion-item *ngIf="isUserLoggedIn()" ion-item (click)="goToNewTemplate()" menuClose>
              <ion-icon name="copy" item-left></ion-icon>
                Create Template
            </ion-item>

            <ion-item *ngIf="isUserLoggedIn()" ion-item (click)="goToGetTemplates()" menuClose>
              <ion-icon name="copy" item-left></ion-icon>
                Templates
            </ion-item>

            <ion-footer>
              <ion-item *ngIf="isUserLoggedIn()" (click)="logoutAndGoToHomePage()" menuClose>
                <ion-icon item-left name="close-circle"></ion-icon>
                Sign Out
              </ion-item>
            </ion-footer>

        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
