<!--
  Generated template for the ExerciseShowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <ion-title>Exercise Show</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="dark-content">
<ion-list class="collection col s6 exercise-ul" *ngIf="exerciseSets">
<div class="container exercise-container">

  <div class="row exercise-row">

    <ion-item>
     <timer></timer>
    </ion-item>
    <div class='col s6'>
      <h3 class='header-exercise' style="color:white;" *ngIf="exercise">
        Add Sets to : {{exercise.name}}
      </h3>

      <form (ngSubmit)='createExerciseSet(exerciseSet)' #exerciseSetForm="ngForm" class='exerciseSet-form'>

        <div class="form-group col s5">
          <label for="reps" style="color:white;">Reps:</label>
          <input type="text" class='form-control' id="name" placeholder="1..15" required name="reps" #reps='ngModel' [(ngModel)]="exerciseSet.reps">
          <div [hidden]="reps.valid || reps.pristine" class='alert alert-danger'>
            Reps are required
          </div>
        </div>

        <div class="form-group col s3">
          <label style="color:white;" for="weight">Weight is required</label>
          <input type="text" class='form-control' id="name" placeholder="150lbs" name="weight" required #weight='ngModel' [(ngModel)]="exerciseSet.weight">
          <div style="color:white;" [hidden]="weight.valid || weight.pristine" class='alert alert-danger'>
            Weight is required
          </div>
        </div>


        <div class='col s6'>

        <button ion-button type='submit' class="center-this new-workout-button" [disabled]='!exerciseSetForm.form.valid' [hidden]='submitted'>
          Add Set
        </button>
          <!--<a [routerLink]="[ '/show-workout/' + exercise.workout_id] " class='btn right' *ngIf='exercise'>Back</a>-->

          <!--<div class='alert alert-success' role='alert' [hidden]='!submitted'>
            Your Set was successfully added!
          </div>-->
        </div>

      </form>
    </div>
    <div class='col s6 exercise-div'>

      <h3 class='center-align' style="color:white;">
        Exercises Done for Workout
      </h3>

        <ion-item  class="collection-item avatar valign-wrapper" *ngFor='let sets of exerciseSets'>
          <ion-avatar item-start>
            <img src="https://cdn3.iconfinder.com/data/icons/forall/1062/gym-512.png" alt=" " class="circle ">
          </ion-avatar>
          <span class="title">Title: {{sets.set}}</span>
          <p *ngIf="exerciseSets" id="exerciseSets">
            Reps: {{sets.reps}} <br> Weight: {{sets.weight}} <br>
          </p>
        </ion-item>

    </div>
  </div>
</div>
</ion-list>

</ion-content>
