.container-fluid
  background-color: black

p
  margin: 0
  padding: 0
  color: black

.workout-ul
  padding-top: 35px
  display: flex
  flex-direction: column
  margin: 0
  border: none
  li
    margin: 0 auto

.new-workout
  margin: 0 auto

.workout-link:hover
  text-decoration: none;
  background-color: #57acec;
  color: black
