.container-fluid
  background-color: black

p
  margin: 0
  padding: 0
  color: black

.workout-ul
  padding-top: 10px
  display: flex
  flex-direction: column
  margin: 0
  border: none
  li
    margin: 0 auto
    
