page-home {
  .background{
    background: url("../../assets/1.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0 ;
    margin: 0;
  }
}
